body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #545454;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover .underline {
  text-decoration: underline;
}

h3 {
  font-weight: normal;
}

.large {
  font-size: 18px;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.xx-small {
  font-size: xx-small;
}

.blue {
  color: #1a0dab;
}

.lightblue {
  color: #1A73E8;
}

.green {
  color: #006621;
}

.gray {
  color: #777;
}

.darkgray {
  color: #545454;
}

.darkergray {
  color: #4b2222;
}

.hstretch {
  display: inline-block;
  vertical-align: middle;
  transform: scaleX(1.5);
  transform-origin: 0 0;
} 

.ell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.topmargin {
  margin-top: 18px;
}

#more {
  border-spacing: 0;
}

#more td {
  text-align: center;
  vertical-align: bottom;
  padding: 0;
  background-image: url(../images/nav_logo299.png);
  background-repeat: no-repeat;
  height: 45px;
  overflow: hidden;
}

.g {
  background-position: -24px 0;
  width: 28px;
}

.red-o {
  background-position: -53px 0;
  width: 20px;
}

.yellow-o {
  background-position: -74px 0;
  width: 20px;
}

.gle {
  background-position: -96px 0;
  width: 71px;
  text-align: right !important;
}

#related {
  margin: 40px 0 30px 0;
}

#related td {
  padding-right: 30px;
}

#related a {
  font-size: 11pt;
}

.bigleftmargin {
  margin-left: 165px;
}

ul {
  padding: 0;
}

li {
  margin-right: 25px;
  display: inline;
}

hr {
  height: 1px;
  background-color: #ebebeb;
  border: none;
}

ul a {
  color: #545454;
}

ul a:hover {
  color: #1A73E8;
}

.headerbar {
  margin: 20px 20px;
}

.headerbar input {
  height: 45px;
  width: 640px;
  border: 1px solid #dfe1e5;
  border-radius: 2em;
  padding: 0.8em 1.1em;
  font-size: 12pt;
  font-weight: lighter;
  margin-left: 30px;
}

.footerbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

input:hover {
  box-shadow: 0 1px 7px #e4e4e4;
}

img {
  vertical-align: middle;
}